/**/

/*for wholes site*/

.charbody {
  width: 90%;
  max-width: 900px;
  margin: 2em auto;
}

/**/
.title {
  text-align: center;
}
.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
  height: 46px;
  background: white;
}
.navtext {
  font-size: small;
  border-top: solid 2px;
  padding: 5px;
}
/*for the flex in the homepage*/

.imgchar {
height: 100%;
width: 100%;
}


/* these are the flext in home page*/


.flex-container {
  display: flex;
}

.flex-container > div {
  background-color: #460469;
    color: white;
  margin: 5px;
  padding: 10px;
  }
.flex-container > div > a {
color: white;
}
.links {
  float: left;
  
}
.cover {
  float: right;
  border: double;
  
}

.notice {
  border-style: double;
  margin: 10px;
  padding: 10px;
  
}
/*container for home page*/

.container {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr;
  gap: 10px;
}



.container > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);

}




/*container for template of characters*/

.charcon {
  display: grid;
  grid-template-columns: 3fr 1fr;
  gap: 10px;
}

.summary-box {
  border-radius: 4px;
background-color: rgb(242, 163, 200);
border: 2px solid rgb(255, 41, 41);
}
.summary-box > h3 {
  text-align: center;
}
.charcon > div {
  border-radius: 4px;
  padding: 2px;
  padding-right: 5px;

}
.bodhead {
  text-decoration-line: underline;
  font-weight: bold;
  font-size: larger;
}

/*container for template of characters homepage characters.html*/

.boxes {
  display: grid;
  grid-template-columns: 3fr 8fr;
  gap: 5px;
}



.boxes > div {
  border-radius: 5px;
  padding: 10px;
  background-color: rgb(207,232,220);
  border: 2px solid rgb(79,185,227);

}