.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    background: white;
}
.boxes {
content:"";
display:table;
clear:both;
}
.char {
float: right;
height: 100%;
width: 80%;
padding: 0 10px;
}
.blogs {
        float: left;
}
.imgchar {
height: 100%;
width: 100%
}
.flex-container {
  display: flex;

}

.flex-container > div {
  background-color: #3b0956;
    color: white;
  margin: 5px;
  padding: 10px;
  font-size: ;
}
.flex-container > div > a {
color: white;
}

