/**/

.navbar {
  overflow: hidden;
  position: fixed;
  bottom: 0;
  width: 100%;
    background: white;
}
/*for the flex in the homepage*/
.boxes {
float:left;
}

.char {
float: right;
height: 100%;
width: 80%;
padding: 0px;
}

.imgchar {
height: 90%;
width: 50%;
}


/* these are the flext in home page*/


.flex-container {
  display: flex;

}

.flex-container > div {
  background-color: #460469;
    color: white;
  margin: 5px;
  padding: 10px;
  
}
.flex-container > div > a {
color: white;
}
.links {
  
}